/* External CSS */
h1{
    background-color: orange;
}

#one{
    background-color: aqua;
}

.cA{
    background-color: rgb(64, 59, 60);
}

/* more priority then inline CSS */
h2{
    background-color: chartreuse !important;
}