*{
    height:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.container{
padding:10px;
position:relative;
}
.box{
height:100px;
width:200px;
background-color: orange;
animation-name: moving;
animation-duration: 2s;
animation-iteration-count:infinite;
animation-timing-function: linear;
/* animation-direction: alternate; */
animation-delay: 2s;
/* animation-fill-mode: forwards; */
position:absolute;
}
@keyframes moving{
/* from{
background-color: pink;
top: 10px;
left:10px;
}
to{
background-color: purple;
top:10px;
left:800px;
}  */
0%{
background-color: red;
top: 10px;
left:10px;
}
25%{
background-color: blue;
top: 10px;
left:1000px;
}
50%{
background-color: green;
top: 500px;
left:1000px;
}
75%{
background-color: white;
top: 500px;
left:10px;
}
100%{
background-color: orange;
top: 10px;
left:10px;
}

}