*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
background-color: black;
}
.container{
height:800px;
width:800px;
display: grid;
grid-template-rows: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap:10px;
padding:10px;
}
.b1{
grid-row-start:1;
grid-row-end: 4;
background-color: green;
}
.b2{
grid-column-start:2;
grid-column-end: 4;
background-color: green;
}
.b3{
grid-column-start: 4;
grid-column-end: 5;
background-color: red;
}
.b4{
background-color: yellow;
grid-column-start: 2;
grid-column-end: 3;
}
.b5{
background-color: red;
grid-column-start: 3;
grid-column-end: 4;
}
.b6{
background-color: green;
grid-row-start: 2;
grid-row-end: 4;
grid-column-start: 4;
grid-column-end: 5;
}
.b7{
background-color: red;

}
.b8{
background-color: yellow;
}