*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color: black;
    color:white;
}
.container{
    height: 800px;
    width: 800px;
    display:grid;
    grid-template-rows:1fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap:10px;
}
.Box{
background-color: rgb(103, 103, 204);
}
.header{
grid-column-start: 1;
grid-column-end: 4;
}
.sidebar{
grid-row-start: 2;
grid-row-end: 4;
}
.content-1{
grid-column-start:2;
grid-column-end: 4;
}
.footer{
    /* grid-column: 2/4; */
grid-column-start:1;
grid-column-end:4;
}