*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    color:white;
    font-size: 30px;;
}
body{
    background-color: black;
}
/* fr means fraction: jo ki hume help karta grid ko pure container ke size ke according 
 grid ko set kare even after gap*/
.container{
    padding:10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    background-color: aqua;
    height:400px;
    width:400px;
}
.first{
    background-color: blue;
    text-align: center;
}
.second{
    background-color: green;
    text-align: center;
}
.third{
    background-color: purple;
    text-align: center;
}
.fourth{
    background-color: red;
    text-align: center;
}