*{
padding:0;
margin:0;
box-sizing: border-box;
}
body{
background-color: black;   
}
.container{
height:800px;
width:800px;
display:flex
}
.b1{
height:400px;
width:100px;
background-color: green;
}
.b2{
height:100px;
width:200px;
background-color: green;
}
.b3{
height:100px;
width:100px;
background-color: yellow;
}


