*{
    padding:0;
    margin:0;
}
.container{
    display: flex;
    background-color: aqua;
    padding:5px;
    gap:5px;
}
body{
background-color: black; 
}
.Box{
    height:300px;
    width:200px;
}
.first{
    background-color: orange;
}
.second{
    display:flex;
    flex-direction: column;
    gap:20px;
}
.child{
    height:140px;
    background-color:rgb(173, 24, 24);
}