*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    display:flex;
    background-color: rgb(205, 215, 223);
    align-items:center;
    justify-content: center;
    height:100vh;
    
}
.box{
/* height:400px; */
width:400px;
background-color:white;
padding:60px;
border-radius: 5px;
}
h1{
    
    text-align: center;
    margin-bottom:20px;
    color:rgb(123, 123, 209)
}
label{
    font-size:25px;
    font-weight:600;
    margin-bottom:5px;
}
input{
    width:100%;
    height:30px;
    padding:10px;
    font-size:15px;
    margin-bottom:20px;
    border-radius:5px;
}
button{
    cursor:pointer;
}