* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.solar-system {
    position: relative;
    width: 800px;
    height: 800px;
}

/* SUN */
.sun {
    width: 120px;
    height: 120px;
    background: radial-gradient(circle, yellow, orange, red);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 40px orange, 0 0 80px yellow;
}

/* ORBITS */
.orbit {
    position: absolute;
    top: 50%;
    left: 50%;  
    border: 1px dashed rgba(255,255,255,0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* PLANETS */
.planet {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(var(--distance)) translate(-50%, -50%);
    animation: orbit  infinite linear;
}

/* INDIVIDUAL PLANETS */
.mercury {
    width: 15px;
    height: 15px;
    background: gray;
    --distance: 70px;
    animation-duration: 3s;
}

.venus {
    width: 25px;
    height: 25px;
    background: rgb(255, 209, 125);
    --distance: 110px;
    animation-duration: 6s;
}

.earth {
    width: 30px;
    height: 30px;
    background: skyblue;
    --distance: 160px;
    animation-duration: 10s;
}

.mars {
    width: 22px;
    height: 22px;
    background: rgb(255, 80, 80);
    --distance: 210px;
    animation-duration: 15s;
}

/* ORBIT ANIMATION */
@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(var(--distance)) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(var(--distance)) rotate(-360deg);
    }
}

/* Orbit ring sizes */
.mercury-orbit { width: 150px; height: 150px; }
.venus-orbit   { width: 230px; height: 230px; }
.earth-orbit   { width: 320px; height: 320px; }
.mars-orbit    { width: 410px; height: 410px; }
