*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
.container{
    background-color: black;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    perspective:800px;
}
.box{
    height:150px;
    width:150px;
    background-color: orange;
    cursor:pointer;
    /* transform: translate(200px,300px); */
    /* transform: translateX(300px); */
    /* transform: translateY(400px);
    transform: rotate(40deg);
    transform: skewY(30deg);
    transition-property: all;
    transition-duration:3s;
    transition-timing-function: ease-in;
    
    transition-delay:2s; */
    font-size:40px;
    color:white;
    /* just place the cursor at box and wait then it will change */
    /* direct-use -->   transition : all 3s ease-in 2s; */
    animation-name:moving;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-delay:2s;
}
@keyframes moving{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* .box:hover{
    background-color: purple;
    width:200px;
    height:250px;
    transform: scaleY(2) ;
    transform: translateZ(200px);
     transform: rotateX(90deg);
}
*/