*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
/* body{
    background-color: black;
} */
.container{
        background-color: black;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.box{
    height:400px;
    width: 400px;
     background-color: orange;
     font-size:40px;
     display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    /* top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%); */
    animation-name:moving;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    border-radius:50%;

}
@keyframes moving{
    /* from{
        transform: rotate(0deg) translatex(200px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    } */

    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.sun{
    height:50px;
    width:50px;
    background-color: green;
    transform:translateX(100px);
    border-radius:50%;
}