.container{
    height:400px;
    width:300px;
    font-size:50px;
    background-color: aqua;
}
@media screen and (max-width:900px){
    .container{
        background-color:green;
        font-size:40px;
    }
}

@media screen and (max-width:600px){
    .container{
        background-color:yellow;
        font-size:40px;
    }
}
/* max wdith 900px means 900px se kam hone par color green ho jayega */
/* min width 600px means 600px se upar hone par color yellow ho jaeyga */
/* @media screen and (min-width:600px){
    .container{
    background-color:yellow;
    font-size: 30px;
    }
} */