*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.body{
    background-color: black;
     display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    height:100vh;
}
.container{
    /* height:200px; */
    width:800px;
    display:flex;
      flex-wrap:wrap;
    /* display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:1fr; */
    gap:5px;
}
.box{
background-color: orange;
  width: 25%;   /* 4 in one row */
    height: 200px;
}
img{
    height:100%;
    width:100%;
}