h1{
    background-color: blueviolet;
    height:100px;
    width:1200px;
    border-width:20px;
    border-style: solid;
    border-color:chartreuse;
    padding : 10px;
    margin: 20px;
    border-radius:20px;
}
h2{
    background-color: orangered;
    display:inline;
}
span{
    background-color: aquamarine;
    height:400px;
    width: 200px;
    /* no mean of using height,width(it's unchanged)  */
    padding-left:10px;
    padding-right:20px;
    margin-left:20px;
    margin-right:30px;
    /* display:block; */
}